.section {
  display: flex;
  background-color: #238b44;
  min-height: 36rem;
  text-align: center;
  margin: auto;
}
.offer {
  background: #ffffff;
  border-radius: 15px;
  width: 16.375rem;
  height: 23rem;
  margin: auto 0.6rem;
  margin-top: 0.5rem;
  padding: 0;
}
