.container {
  position: relative;
}
.overlays {
  position: fixed;
  overflow: hidden !important;
  bottom: 0;
  right: 0;
  left: 0px;
  top: 0px;
  background: #8585856b;

  backdrop-filter: blur(2px);
  z-index: 1000;
}
.megaModal {
  position: fixed;
  top: 29rem;
  left: 0rem;
  right: 0rem;
  transform: translate(-0%, -50%);
  padding: 0rem;
  z-index: 1000000 !important;
  min-height: 300px;
  background: #ffffff;

  border-radius: 15px;
  overflow: hidden;
}
.megaOverLay {
  position: fixed;
  text-align: center;
  overflow: hidden !important;
  bottom: 0;
  right: 0;
  left: 0px;
  top: 11rem;
  background: rgba(132, 132, 132, 0.42);
  backdrop-filter: blur(2px);
  z-index: 1000;
}

.modal {
  position: fixed;
  top: 50%;
  left: 0rem;
  right: 0rem;
  transform: translate(-0%, -50%);
  padding: 0rem;
  z-index: 1000000 !important;
  min-height: 300px;
  background: #ffffff;
  border-radius: 15px;
  width: 40%;
  overflow: hidden;
}

@media only screen and (max-width: 1000px) {
  .modal {
    width: 80% !important;
  }
}
