/*  */
.CarouselItem {
  background: #ffffff;
  width: 16.375rem;

  border-radius: 15px;
  margin: 0 0.5rem;
  padding: 0.6rem;
  text-align: right;
}
.CarouselItem h2 {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  padding: 0.3rem;
  text-align: right;
}
.image {
  width: 15rem;
  height: 15rem;

  object-fit: cover;
  margin: 0 auto;
}
.container div > div {
  margin: 0 0.5rem;
}
.flexBetween {
  display: flex;
  place-content: space-between;
  margin: 1.5rem 0;
}
.flex {
  display: flex;

  text-align: left;
  justify-content: space-around;
  gap: 10px;
}
.flex p {
  color: gray;
}
