/*  */
.CarouselItem {
  width: 100%;
  border-radius: 15px;
  margin: 0rem 0.5rem;

  padding: 0.6rem;
  text-align: right;
}
.CarouselItem h2 {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  padding: 0.3rem;
  text-align: right;
}

.flexBetween {
  width: 100%;

  font-size: 16px;
  display: flex;
  text-align: center;
  place-content: space-between;
  margin: 1rem 0;
}
.flex {
  display: flex;
  width: 50%;
  text-align: left;
  justify-content: space-around;
  gap: 0%;
}
.flex p {
  color: gray;
  font-size: 14px;
}
@media screen and (max-width: 1280px) {
  .flexBetween {
    padding-left: 30%;
  }
}

@media screen and (max-width: 1180px) {
  .flexBetween {
    padding-left: 20%;
  }
}
