.container {
  display: flex;
  place-content: space-between;
  margin: 0rem 3rem;
  border-bottom: 1px solid #238b44;
  padding: 1.5rem 0;
}
.navbar {
  background-color: #f6f6f6;
  padding: 2rem 0;
}
.logo {
  display: flex;
  place-content: space-between;
}
.logo h2 {
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color: #424242;
  margin: 1rem;
}
.btn {
  color: #238b44;
  margin-top: 0.5rem;
}
.btn button {
  margin: 0.5rem 2rem;
}
.btn button svg {
  position: absolute;
  top: 75px;
}
.register {
  background: #238b44;
  border-radius: 6px;
  color: white;
  padding: 0.5rem 2rem;
  text-align: center;
  justify-content: center;
  margin: 0 !important;
}
.links {
  padding: 1rem 2rem;
}
.links li {
  display: inline-block;
  margin: 0 1rem;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #424242;
}
.color {
  color: #238b44 !important;
}
