.navbar {
  padding-bottom: 2rem;
}
.logo {
  display: flex;
  place-content: space-between;
}
.logo h2 {
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  margin: 1rem;
}
.btn {
  display: flex;
  color: #238b44;

  text-decoration-style: none;
  border: 0;
}
.btn svg,
.btn a {
  margin: 0.9rem 2rem;

  border: 0;
}
.btn button {
  border: 0;
  padding: 0;
}

.register {
  background: #238b44;
  border-radius: 6px;
  color: white;
  padding: 0.5rem 2rem;
  text-align: center;
  justify-content: center;
  margin: 0 !important;
}
.links {
  padding: 2rem 0rem;
  padding-bottom: 1rem;
}
.links li {
  display: inline-block;
  margin: 0 5%;
  margin-right: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}
.color {
  color: #238b44 !important;
}
