.navbar {
  padding-bottom: 2rem;
}
.logo {
  display: flex;
  place-content: space-between;
}
.logo h2 {
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color: #424242;
  margin: 1rem;
}
.btn {
  color: #238b44;
  margin-top: 1rem;
}
.btn button {
  margin: 0.5rem 2rem;
}
.btn button svg {
  position: absolute;
  top: 50px;
}
.register {
  background: #238b44;
  border-radius: 6px;
  color: white;
  padding: 0.5rem 2rem;
  text-align: center;
  justify-content: center;
  margin: 0 !important;
}
.links {
  padding: 1rem 0rem;
}
.links li {
  display: inline-block;
  margin: 0 2.5rem;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #424242;
}
.color {
  color: #238b44 !important;
}
