@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "IranSans";
  src: url("../public/Fonts/iransansX family/IRANSansX-Regular.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "IranSans";
  src: url("../public/Fonts/iransansX family/IRANSansX-Bold.ttf")
    format("truetype");
  font-weight: bold;
  font-style: bold;
}
@font-face {
  font-family: "IranSansXFaNum";
  src: url("../public/Fonts/Farsi numerals/IRANSansXFaNum-Bold.ttf")
    format("truetype");
  font-weight: bold;
  font-style: normal;
}

@layer base {
  :root {
    --color-text-base: #b4b4b4;
    --color-text-muted: #b4b4b4;
  }
  .ltr {
    direction: ltr;
  }
  .rtl {
    direction: rtl;
  }
  .input {
    display: block;
    border: 1px solid #999999;
    border-radius: 8.57435px;
    width: 90%;
    padding: 0.75rem 1rem;
    margin-bottom: 1.5rem;
    margin-top: 0.5rem;
  }
  .height {
    max-height: 200px;
    overflow-y: scroll;
  }

  .cadr {
    display: block;
    width: 95%;
    min-width: 16rem;
    box-sizing: border-box;
    object-fit: cover;
    padding: 9px !important;
    background-color: white;
    border-radius: 15px;
    text-align: center;
  }
  /* .cadr {
    margin: 0 1rem !important;
  } */
  .blurr {
    background: rgba(92, 92, 92, 0.59);
    backdrop-filter: blur(11.5px);
  }
  .filterBtn {
    border: inherit;
    display: inline-block;

    margin: 1.5rem 2rem;
    border-radius: 0;
  }
  .filterBtn:hover {
    background: transparent;
    color: black;
  }

  body {
    @apply bg-skin-background text-skin-text  text-[16px] text-justify;
  }
  .rounded-default {
    border-radius: 15px;
  }
  .filterBtnActive {
    border-bottom: 4px solid #238b44;
    font-weight: 600;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold;
  }

  h1 {
    @apply text-[36px] leading-[44px];
  }

  h2 {
    @apply text-base;
  }

  li {
    @apply cursor-pointer m-0;
  }

  button {
    @apply rounded-xl  p-1  uppercase border-2 border-primary text-center;
  }
  a {
    @apply border-0  pb-[1rem];
  }
  p {
    @apply text-justify tracking-tighter;
  }
  input {
    @apply px-4;
  }
}
*,
html,
body {
  padding: 0;
  margin: 0;
  font-family: "IranSans", "IranSansXFaNum", "Franklin Gothic Medium",
    "Arial Narrow", Arial, sans-serif, Courier, monospace;
  direction: rtl;
  box-sizing: border-box;
  image-resolution: from-image 200dpi;
}

html {
  direction: rtl;

  margin: 0;
  padding: 0;
}
.swiper {
  position: relative;

  overflow: hidden;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 0rem;
  margin: 0 !important;
}
body.modal,
html.modal,
body.overlays,
.html.overlays {
  overflow: hidden !important;
  position: fixed !important;
  bottom: 0;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  color: black;

  width: 2.5rem;
  height: 2.5rem;
  background-color: var(--color-text-base);
  background: transparent\10;
  padding: 1rem;
  padding-top: 0.6rem;
  display: block;
  font-size: 16px !important;
  margin: 0 0rem;
  border-radius: 50%;
  font-weight: 900;
}
.swiper-button-prev:after {
  margin-right: 1rem;
}

.swiper-button-next:after {
  margin-left: 1rem;
}

.swiper-wrapper {
  max-width: 100vh;

  /* transform: translate3d(0px, 0px, 0px) !important; */
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}

input:focus-visible {
  outline: 0;
}
.position-relative {
  position: relative;
}

.container {
  width: 80%;
  max-width: 1116px;
  margin: 0 auto;
  padding: 0rem;
  height: max-content;
}
.swiper-slide {
  height: 20% !important;
}
/*  */
input[type="radio"] {
  /* accent-color: red; */
}
input {
  display: inline-block;
  margin: 0 1rem;
}
.whatsappLink {
  background: #56c679;
  margin: 1rem auto;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .filterBtn {
    margin: 1.5rem 0.5em;
  }
  .container {
    width: 100%;
    max-width: initial;
    margin: 0 auto;
    padding: 0rem;
    height: max-content;
  }
  input {
    display: inline-block;
    margin: 0rem;
  }
}
