@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "IranSans";
  src: url("../public/Fonts/iransansX family/IRANSansX-Regular.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "IranSans";
  src: url("../public/Fonts/iransansX family/IRANSansX-Bold.ttf")
    format("truetype");
  font-weight: bold;
  font-style: bold;
}
@font-face {
  font-family: "IranSansXFaNum";
  src: url("../public/Fonts/Farsi numerals/IRANSansXFaNum-Bold.ttf")
    format("truetype");
  font-weight: bold;
  font-style: normal;
}

@layer base {
  :root {
    --color-text-base: #238b44;
    --color-text-muted: #b4b4b4;
    --color-text-subtitle: #6f6f6f;
    --color-bg-gray: "#f6f6f6";
    --color-text-white: #ffffff;
    --color-fill: #238b44;
    --color-fill-oppacity: rgba(35, 139, 68, 0.1);
    --color-button-primary: "primary";
    --color-button-primary-hover: "#56C679";
    --color-border-melo: #f8f8f8;
  }
  .ltr {
    direction: ltr;
  }
  .cadr {
    display: block;
    width: 95%;
    padding: 9px !important;
    background-color: white;
    border-radius: 15px;
    text-align: center;
  }
  .blurr {
    background: rgba(92, 92, 92, 0.59);
    backdrop-filter: blur(11.5px);
  }
  body {
    @apply bg-[#f6f6f6] text-[#424242]   text-[16px] text-justify;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold;
  }

  h1 {
    @apply text-[36px] leading-[44px];
  }

  h2 {
    @apply text-base;
  }

  li {
    @apply cursor-pointer m-0;
  }

  button {
    @apply rounded-xl hover:!text-[white] hover:border-[#56C679] p-1  hover:bg-[#56C679] uppercase border-2 border-primary text-center active:bg-[#098330];
  }
  a {
    @apply hover:text-[#56C679] active:text-skin-primary  border-0  py-[1rem] w-[100%]  active:text-[#098330];
  }
  p {
    @apply text-justify tracking-tighter text-[#6f6f6f];
  }
}
*,
html,
body {
  font-family: "IranSans", "IranSansXFaNum", Courier, monospace;
  direction: rtl;
}

html {
  direction: rtl;

  margin: 0;
  padding: 0;
}
.swiper {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 0rem;
  margin: 0 !important;
}
body.modal,
html.modal,
body.overlays,
.html.overlays {
  overflow: hidden !important;
  position: fixed !important;
  bottom: 0;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  color: black;

  width: 2.5rem;
  height: 2.5rem;
  background-color: rgba(180, 180, 180, 0.7);
  background: transparent\10;
  padding: 1rem;
  padding-top: 0.6rem;
  display: block;
  font-size: 16px !important;
  margin: 0 0rem;
  border-radius: 50%;
  font-weight: 900;
}
.swiper-button-prev:after {
  margin-right: 1rem;
}

.swiper-button-next:after {
  margin-left: 1rem;
}

.swiper-wrapper {
  max-width: 100vh;

  /* transform: translate3d(0px, 0px, 0px) !important; */
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}

input:focus-visible {
  outline: 0;
}
.position-relative {
  position: relative;
}

.container {
  width: 80%;
  max-width: 1116px;
  margin: 0 auto;
  padding: 0rem;
  height: max-content;
}
.swiper-slide {
  height: 20% !important;
}
/*  */
