.container {
  display: flex;
  justify-content: center;
  background-color: #238b44;
  padding: 3rem;
  height: 36rem;
  text-align: center;
  margin: auto;
}
.offer {
  background: #ffffff;
  border-radius: 15px;
  width: 17rem;
  height: 23rem;
  margin: auto 1rem;
}
